/* Dropdown1 */
select-color-selector-1 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select-color-selector-1:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown2 */
select-color-selector-2 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select-color-selector-2:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown3 */
select-color-selector-3 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select-color-selector-3:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown4 */
select#color-selector-4 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-4:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown5 */
select#color-selector-5 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-5:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown6 */
select#color-selector-6 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-6:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown7 */
select#color-selector-7 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-7:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown8 */
select#color-selector-8 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-8:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown9 */
select#color-selector-9 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-9:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown10 */
select#color-selector-10 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-10:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown11 */
select#color-selector-11 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-11:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown12 */
select#color-selector-12 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-12:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown13 */
select#color-selector-13 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-13:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown14 */
select#color-selector-14 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-14:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown15 */
select#color-selector-15 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-15:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown16 */
select#color-selector-16 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-16:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown17 */
select#color-selector-17 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-17:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown18 */
select#color-selector-18 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-18:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown19 */
select#color-selector-19 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-19:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown20 */
select#color-selector-20 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-20:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown21 */
select#color-selector-21 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-21-:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown22 */
select#color-selector-22 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-22:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown23 */
select#color-selector-23 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-23:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown24 */
select#color-selector-24 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}

select#color-selector-24:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}